@use "../abstracts" as *;

//mobile first
.logo {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
  width: $width-sidebar;
  max-width: $max-width-sidebar;
  span {
    font-size: 1.2rem;
    &.home {
      font-size: 1.5rem;
    }
  }
}
